@media (min-width: 768px) {
    #nfsForm{
        display: flex;
        align-items: center;
        text-align: start;
    }

    label{
        margin-bottom: 10px;
    }

    input, textarea{
        width: 60%;
        padding: 1em;
    }
    
    body{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    button{
        padding: 2em 3em;
    }

    .nota-fiscal{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none !important;
        width: 100%;
    }

    .teste{
        width: 60%;
        border: 1px solid;
    }
}

@media (min-width: 1200px){

    body{
        padding: 1%;
    }

    #nfsForm{
        display: flex;
        align-items: center;
        text-align: start;
    }

    label{
        margin-bottom: 10px;
    }

    input, textarea{
        width: 25%;
    }
    
    body{
        display: flex;
        flex-direction: column;
    }
    button{
        width: 10%;
    }

    .nota-fiscal{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: none !important;
        width: 100%;
    }

    .teste{
        width: 30%;
        border: 1px solid;
    }
}